.card-style{
   border: none;
   box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
}

.card-image-contaienr{
    overflow: hidden;
}

.card-image{
    transition: .4s;
}
.card:hover .card-image{
    transform: scale(1.1);
}